*{
	padding:0;
	margin:0;
	font-size:12px;
}
ul,li {
	list-style:none;
}
a {
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
body {
	background:url('../images/bg.gif') repeat;
}

#top {
	background:#FFF;
	width:100%;
	height:46px;
	box-shadow:0 1px 5px rgba(35,25,25,0.5);
}
/*顶部左侧搜索框和按钮样式 start*/
#top #leftHeader {
	height:26px;
	margin-left:65px;
	padding-top:10px;
	width:535px;
	float:left;
}
#top #leftHeader h1 {
	display:block;
	width:32px;
	height:26px;
	background:#F4F4F4;
	float:left;
	border:1px solid #ccc;
}
#top #leftHeader h1 em {
	display:block;
	width:18px;
	height:18px;
	background:url('../images/menu_left.png') no-repeat -18px 0;
	margin:5px 0 0 6px;
}
#top #leftHeader #searchInput {
	float:left;
	height:26px;
	width:200px;
	border:1px solid #ccc;
	margin-left:5px;
}
#top #leftHeader #searchBtn {
	float:left;
	height:26px;
	width:26px;
	border:none;
	margin-left:-25px;
	text-indent:-9999px;
	background:url("../images/menu_sprite.png") no-repeat 0 -95px;
}
#top #leftHeader #searchBtn:hover {
	cursor:pointer;
	background:url("../images/menu_sprite.png") no-repeat -50px -95px;
}
/*顶部左侧搜索框和按钮样式 end*/
/*顶部中部logo样式*/
#top #logo {
	width:160px;
	height:40px;
	background:url('../images/pinterest.png') no-repeat -358px 0;
	float:left;
	margin-top:4px;
}
/*顶部右侧样式*/
#top #rightHeader {
	height:100%;
	float:right;
	margin-right:58px;
}
	/*顶部右侧登录和注册按钮样式 start*/
#top #rightHeader dl#login {
	width:150px;
	height:100%;
}
#top #rightHeader dl#login dd {
	width:50px;
	height:30px;
	line-height:30px;
	float:right;
	text-align:center;
	background: linear-gradient(rgb(250, 250, 250), rgb(242, 242, 242)) repeat scroll 0% 0% transparent;
	border: 1px solid rgb(217, 217, 217);
	box-shadow: 0px 1px 0px white inset, 0px 1px 0px rgba(255, 255, 255, 0.3);
	margin-left:10px;
	margin-top:8px;
}
#top #rightHeader dl#login dd a {
	color: rgb(68, 68, 68);
	font-size:14px;
	text-decoration:none;
}
#top #rightHeader dl#login dd:hover {
	background: linear-gradient(rgb(255, 255, 255), rgb(247, 247, 247)) repeat scroll 0% 0% transparent;
	border: 1px solid rgb(204, 204, 204);
	box-shadow: 0px 1px 0px white inset, 0px 1px 0px rgba(255, 255, 255, 0.05);
}
	/*顶部右侧登录和注册按钮样式 end*/
	/*顶部右侧添加、通知、头像按钮样式 start*/
#top #rightHeader #add {
	width:45px;
	height:100%;
	float:left;
	border-left:1px solid #ccc;
}
#top #rightHeader #add em {
	display:block;
	width:18px;
	height:18px;
	background:url('../images/menu_sprite.png') no-repeat 0 -150px;
	margin:15px 0 0 15px;
}
#top #rightHeader #message {
	width:45px;
	height:100%;
	float:left;
	border-left:1px solid #ccc;
}
#top #rightHeader #message em {
	display:block;
	width:18px;
	height:18px;
	background:url('../images/menu_sprite.png') no-repeat 0 -1195px;
	margin:15px 0 0 15px;
}
#top #rightHeader #photo {
	width:45px;
	height:100%;
	float:left;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#top #rightHeader #photo img {
	display:block;
	width:26px;
	height:26px;
	margin:10px 0 0 10px;
}
#top #rightHeader #photo .mytravel {
	width:180px;
	height:315px;
	border:2px solid #EEEDEB;
	background:#fff;
	position:absolute;
}
		/*顶部右侧头像下拉列表样式 start*/
#top #rightHeader #photo .mytravel ul {
}
#top #rightHeader #photo .mytravel ul li {
	display:block;
	height:35px;
}
#top #rightHeader #photo .mytravel ul li:hover {
	background:#F2F2F2;
}
#top #rightHeader #photo .mytravel ul li a {
	background-image:url("../images/icon_user_menu.png");
	background-repeat:no-repeat;
	font-size:14px;
	display:block;
	padding-left:35px;
	color:#666;
	height:35px;
	line-height:35px;
}
#top #rightHeader #photo .mytravel ul li a:hover {
	text-decoration:none;
}

#top #rightHeader #photo .mytravel ul li a.self {
	background-position:15px 10px;
	border-bottom:1px solid #ccc;
}
#top #rightHeader #photo .mytravel ul li a.album {
	background-position:15px -428px;
}
#top #rightHeader #photo .mytravel ul li a.attention {
	background-position:15px -268px;
}
#top #rightHeader #photo .mytravel ul li a.share {
	background-position:15px -388px;
}
#top #rightHeader #photo .mytravel ul li a.collect {
	background-position:15px -308px;
}
#top #rightHeader #photo .mytravel ul li a.about {
	background-position:15px -348px;
}
#top #rightHeader #photo .mytravel ul li a.comment {
	background-position:15px -505px;
}
#top #rightHeader #photo .mytravel ul li a.setting {
	border-top:1px solid #ccc;
	background-position:15px -148px;
}
#top #rightHeader #photo .mytravel ul li a.logout {
	background-position:15px -188px;
}
		/*顶部右侧头像下拉列表样式 end*/
	/*顶部右侧添加、通知、头像按钮样式 end*/