#content {
	width:265px;
	margin: 50px auto;
	padding:10px 35px 0 35px;
	font-family:微软雅黑;
}
#content h1 {
	font-size:26px;
	color:#111;
	letter-spacing:5px;
	margin-bottom:10px;
}
#content form input {
	font-size:16px;
	color: rgb(51, 51, 51);
	border-radius: 3px 3px 3px 3px;
	border:1px solid #D6D3CE;
	box-shadow:0px 0px 3px rgba(0, 0, 0, 0.12) inset;
}
#content form input#email {
	width:260px;
	height:40px;
	margin:5px 0px;
}
#content form input#psw {
	margin-top:10px;
	width:260px;
	height:40px;
}

#content form input#loginbtn {
	color:#fff;
	margin-top:10px;
	background:#FB6964;
	width:260px;
	height:40px;
}
#content form input#loginbtn:hover {
	cursor:pointer;
	background:#D65955;
}
#content form #msg {
	width:260px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius: 3px 3px 3px 3px;
	border:1px solid #bababa;
	background:#F1F1F1;
	margin-top:10px;
	color:rgb(251, 105, 100);
	font-size:14px;
}
#content #bottom {
	width:260px;
	padding-top:10px;
}
#content #bottom ul {
	width:100%;
}
#content #bottom ul li {
	height:25px;
	line-height:25px;
}
#content #bottom ul li a {
	color:#877171;
}
#content #bottom ul li#rember {
	float:left;
	color:#877171;
}
#content #bottom ul li#rember input {
	margin-right:5px;
	margin-top:2px;
}
#content #bottom ul li#forget {
	width:80px;
	float:right;
}
#content #bottom ul li#register {
	float:right;
	margin-right:5px;
	width:30px;
}