@CHARSET "UTF-8";
#content {
	width:800px;
	margin:0 auto;
	padding-top:25px;
}
#content h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",STHeiti,SimHei,sans-serif;
	color:#333;
	font-size:30px;
	margin-bottom:5px;
	font-weight:bold;
}
/*
#content hr {
	border-top:1px solid #999999;
	border-bottom:1px solid #fff;
}
*/
#content #uploadImage {
	width:800px;
	background:#fff;
	height:540px;
	border-radius:3px 3px 3px 3px;
	margin-top:5px;
	padding-top:3px;
}
#content #uploadImage #showImage {
	width:750px;
	margin:10px 25px 0 25px;	
}
#content #uploadImage #showImage .imgs {
	width:100%;
	height:120px;
	border-radius:3px 3px 3px 3px;
	background:#F5F5F5;
	margin-bottom:10px;
}
#content #uploadImage #showImage .imgs .imgs_img {
	float:left;
	width:100px;
	height:100px;
	margin:10px;
}
#content #uploadImage #showImage .imgs .imgs_img img {
	width:90px;
	height:90px;
	margin:5px;
}
#content #uploadImage #showImage .imgs .imgs_desc {
	width:550px;
	height:100px;
	float:left;
	margin:10px 0;
}
#content #uploadImage #showImage .imgs .imgs_desc  textarea {
	width:450px;
	height:100px;
	font-size:14px;
}
#content #uploadImage #showImage .imgs .imgs_del {
	width:16px;
	height:16px;
	background:url("../images/delimg.png") no-repeat -26px 0;
	float:right;
	margin:10px 10px 0 0;
	cursor:pointer;
}
#content #uploadImage #showImage .imgs .imgs_del:hover {
	background:url("../images/delimg.png") no-repeat 0 0;
}
#content #uploadImage #file_upload {
	display:block;
	margin:0 auto;
	padding-top:5px;
}
#content #uploadImage #tag {
}
#content #uploadImage #tag h2 {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft YaHei",STHeiti,SimHei,sans-serif;
	color:#333;
	font-weight:bold;
	font-size:18px;
	margin-left:10px;
	margin-bottom:8px;
}
#content #uploadImage #tag input {
	border:1px solid #ccc;
	font-size:14px;
	margin:0 10px;
	width:400px;
	height:25px;
}
#content #uploadImage #tag #img_submit {
	display:block;
	border:none;
	cursor:pointer;
	width:60px;
	height:35px;
	font-size:14px;
	border-radius:3px;
	color: rgb(255, 255, 255);
	background-color: #259;
	border-color: rgb(18, 46, 82);
	margin:10px auto;
}
#content #uploadImage #tag #img_submit:hover {
	background-color: #1B4278;
}
