<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="connection.url">jdbc:mysql://192.168.1.104:3306/twoyou</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="show_sql">true</property>
		
		<mapping resource="com/zhangyihao/twoyou/entity/User.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/CollectionImg.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/Favourite.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/Comments.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/Album.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/Messages.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/Collection.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/Images.hbm.xml" />
		<mapping resource="com/zhangyihao/twoyou/entity/AlbumImg.hbm.xml" />
	</session-factory>

</hibernate-configuration>